<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<ul>
    <li><a href="/customers">Customers</a> </li>
    <li><a href="/customers/projections">Customers projections</a></li>
</ul>

<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <input type="submit" value="Log out"/>
</form>

</body>
</html>
